!!!5
html
	head
		title= title
		link(rel="stylesheet", type="text/css", href="/styles/style.css")
		script(type="text/javascript", src="/js/lib/jquery-1.7.min.js")	
	body
		.body_container
			.menu_container
				a.menu_item(title="", href="/") Home
				a.menu_item(title="", href="/addproxy") Add Proxy
			.proxy_content
				-if(proxyArray.length)
					table					
						-for item in proxyArray
							tr
								td.proxy_url= item.proxyUrl
				-else
					span No Proxy